.center {
      text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;

    }

    img {
        display: inline;
        width: 200px;
        height: 100px;
    }

    #footer {
        width: 100%;
        border-top: solid 2px black;
        background-color: white;
        position: fixed;
        bottom: 0;
    }
   
#parent-input {
  width: 260px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin: 1%;
  width: 10%;
  height: 10%;
  display: inline-block;
  border: 5px solid grey;
  border-radius: 15%;
  font-size: 60px;
  padding: 0px 25px;
}